.search {
  all: unset;
  background-color: white;
  margin-top: 0.5em;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 50vw;
  border-radius: 2px;
  box-shadow: 3px 5px 4px -2px gray;
}

.container {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container_original {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error {
  color:red;
  align-items:center;
  padding-top:2em;
}
.options {
  position: fixed;
  display: flex;
  flex-direction: row;
}
.explorebutton {
  margin-left: 5%;
  all: unset;
  background-color: white;
  margin-top: 0.5em;
  text-align: center;
  width: 20vw;
  border-radius: 2px;
  box-shadow: 3px 5px 4px -2px gray;
}

.homescreen {
  width: auto;
  height: 100vh;
}
.image {
  height: 100%;
  width: 100%;
}
.modebutton {
  all: unset;
  background-color: white;
  margin-top: 0.5em;
  text-align: center;
  width: 20vw;
  border-radius: 2px;
  box-shadow: 3px 5px 4px -2px gray;
}
.explorebutton:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.1);
}
